@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../assets//fonts.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  section {
    @apply sm:min-h-[60.625rem] mx-10 sm:mx-60;
  }
  h1 {
    @apply uppercase text-[4.25rem] font-monu leading-[110%];
  }
  h2 {
    @apply uppercase text-[2.375rem] font-monu leading-[120%];
  }
  h3 {
    @apply h3;
  }
}

@layer utilities {
  .gradient {
    @apply bg-gradient-to-r from-blue-1 to-purple-1;
  }
  .text-gradient {
    @apply gradient bg-clip-text text-transparent;
  }
  .border-gradient {
    @apply bg-origin-border;
    border-image: linear-gradient(
        to right,
        theme("colors.blue.500"),
        theme("colors.purple.500")
      )
      1;
  }
  .center {
    @apply inset-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .h3 {
    @apply text-[1.375rem] font-bold;
  }
}

/* :root {
  --blue: #3d8bff;
  --purple: #ab23ff;
} */

.font-monu {
  font-family: "MonumentExtended" !important;
}

.font-sato {
  font-family: "Satoshi" !important;
}
